import { describe, it, expect } from "bun:test";

import { run } from "./solution";
import { getInputLines } from "../../getInputLines";

const input = await getInputLines(import.meta.url);

describe("day xx", () => {
  it("should return the correct value for part 1", () => {
    expect(run(input)).toBe(undefined);
  });
});
